DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=django_for_js_devs
POSTGRES_USER=django
POSTGRES_PASSWORD=django
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
